<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>      
    <PluginImplementation>
        <interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
        <implementationClass>nl.tue.ddss.ifc_check.MVDCheckerPlugin</implementationClass>
    </PluginImplementation>
</PluginDescriptor>